@media (max-width: 1440px) {
  .services-grid-caption {
    height: 372px;
  }
  .w3-agile-view .w3lmask {
    padding: 4em 1em 1em 1em;
  }
}
@media (max-width: 1366px) {
  .services-grid-caption {
    height: 353px;
  }
}
@media (max-width: 1280px) {
  .services-grid-caption {
    height: 331px;
  }
}
@media (max-width: 1080px) {
  .services-grid-caption {
    height: 279px;
    padding: 6em 1em 1em 1em;
  }
  .agile-b-wrapper h5 {
    margin: 2.5em auto 0;
  }
  .w3-agile-view .w3lmask {
    padding: 2em 1em 1em 1em;
  }
  .time {
    margin-left: 2em;
  }
  .news-left-text h5 {
    font-size: 1.3em;
  }
}
@media (max-width: 1024px) {
  .services-grid-caption {
    height: 264px;
  }
}
@media (max-width: 991px) {
  .header-top-left {
    width: 20%;
  }
  .about-img {
    float: left;
    width: 58%;
  }
  .about-img1 {
    float: left;
    width: 41.5%;
  }
  .services-grid-caption {
    height: 256px;
  }
  .w3-agileits-gallery-grids {
    width: 50%;
    float: left;
    padding: 0 0.5em;
  }
  .w3-agileits-gallery-grids.gallery-two {
    width: 100%;
    padding: 0 0.5em;
    margin: 1em 0 0 0;
  }
  .w3-agileits-gallery-grids:nth-child(6) {
    padding-bottom: 0 !important;
  }
  .w3-agileits-gallery-grids:nth-child(5),
  .w3-agileits-gallery-grids:nth-child(8),
  .w3-agileits-gallery-grids:nth-child(9) {
    margin: 1em 0;
  }
  .w3-agileits-gallery-grids.agileits-gallery-grids {
    margin: 1em 0 0 0;
  }
  .w3-agileits-gallery-grids a img {
    width: 100%;
  }
  .agile-b-wrapper h5 {
    margin: 4.5em auto 0;
  }
  .agile_team_grid {
    float: left;
    width: 50%;
    margin: 2em 0 0 0;
  }
  .agile_team_grid:nth-child(1),
  .agile_team_grid:nth-child(2) {
    margin: 0;
  }
  .w3-agile-view .w3lmask {
    padding: 5em 1em 1em 1em;
    height: 332px;
  }
  .news-left-img {
    float: left;
    width: 50%;
  }
  .news-grid-info-bottom {
    float: left;
    width: 50%;
  }
  .agile-news-left:nth-child(2) {
    margin: 2em 0 0 0;
  }
  .testimonial-top p {
    width: 100%;
  }
  .callbacks_tabs {
    right: 42%;
  }
  .agile-contact-right {
    margin: 2em 0 0 0;
  }
  .newsletter-left {
    text-align: center;
    margin: 0 0 1em 0;
  }
  .map-grid .map {
    height: 300px;
  }
}
@media (max-width: 900px) {
  .services-grid-caption {
    height: 232px;
  }
  .services-grid-caption {
    padding: 4em 1em 1em 1em;
  }
  .newsletter-right {
    text-align: center;
  }
  .w3-agile-view .w3lmask {
    padding: 6em 1em 1em 1em;
  }
}
@media (max-width: 800px) {
  .services-grid-caption h4 {
    font-size: 1.2em;
  }
  .services-grid-caption {
    height: 205px;
  }
  .header-top {
    margin: 7em 0 0 0;
  }
  .services-grid-caption {
    height: 375px;
    padding: 7em 1em 1em 1em;
  }
}
@media (max-width: 736px) {
  .navbar-toggle {
    float: none;
    margin-right: 0;
  }
  .header-top-info {
    text-align: center;
  }
  .navbar-nav > li > a {
    margin: 0;
  }
  .header-top-info ul li {
    display: block;
    float: none;
    margin: 1em 0;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: none;
    background: rgba(0, 0, 0, 0.87);
    position: absolute;
    width: 100%;
    z-index: 9999;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #f44336;
  }
  .services-grid-caption {
    height: 360px;
    padding: 8em 1em 1em 1em;
  }
}
@media (max-width: 667px) {
  .slider-info h3 {
    font-size: 4em;
  }
}
@media (max-width: 640px) {
  .header-top-left {
    width: 25%;
  }
  .more-button {
    margin: 3em 0 1em 0;
  }
  .header-top-info {
    padding: 1em 0 0 0;
  }
  .banner-info {
    padding: 5em 0 1em 0;
  }
  .services-grid-caption {
    height: 327px;
  }
  .w3-agile-view .w3lmask {
    padding: 4em 1em 1em 1em;
  }
}
@media (max-width: 600px) {
  .services-grid-caption {
    height: 306px;
  }
  .agile-b-wrapper h5 {
    margin: 3.5em auto 0;
  }
}
@media (max-width: 568px) {
  .callbacks_tabs {
    right: 40%;
  }
  .services-grid-caption {
    height: 290px;
  }
  .w3-agile-view .w3lmask {
    padding: 3em 1em 1em 1em;
  }
}
@media (max-width: 480px) {
  .header-top-left {
    width: 35%;
  }
  .title-logo h1 a {
    font-size: 0.7em;
  }
  .slider-info h3 {
    font-size: 3em;
  }
  .slider-info p {
    font-size: 0.9em;
  }
  .header-top {
    margin: 5em 0 0 0;
  }
  .callbacks_tabs {
    right: 38%;
  }
  .welcome,
  .about,
  .services,
  .gallery,
  .news,
  .team,
  .testimonial,
  .contact {
    padding: 2em 0;
  }
  .w3l-welcome-info,
  .w3-about-grids,
  .services-grids,
  .agileinfo-gallery,
  .agile-news-grids,
  .agile_team_grids,
  .agile-contact-grids {
    margin: 2em 0 0 0;
  }
  .w3-welcome-heading h2,
  .w3-welcome-heading h3 {
    font-size: 2em;
  }
  .agile-b-wrapper h5 {
    margin: 2.5em auto 0;
  }
  .w3-agile-view .w3lmask {
    padding: 2em 1em 1em 1em;
  }
  .news-left-img {
    float: none;
    width: 100%;
    padding: 1em;
  }
  .news-grid-info-bottom {
    float: none;
    width: 100%;
    margin: 1em 0 0 0;
  }
  i.fa.fa-quote-right {
    font-size: 2em;
  }
  .map-grid .map {
    height: 300px;
  }
  .contact textarea {
    min-height: 9em;
  }
}
@media (max-width: 414px) {
  .banner-info {
    padding: 3em 0 1em 0;
  }
  .slider-info {
    margin: 2em 0 0 0;
  }
  .callbacks_nav {
    top: 66%;
  }
  .callbacks_tabs {
    right: 35%;
  }
  .more-button {
    margin: 2em 0 1em 0;
  }
  .services-grid-caption {
    height: 397px;
    padding: 9em 1em 1em 1em;
  }
  .services-grid-caption h4 {
    font-size: 1.5em;
  }
  .agile-b-wrapper h5 {
    font-size: 1.5em;
    width: 60px;
    height: 60px;
    margin: 3.5em auto 0;
    line-height: 2.5em;
  }
  .agile_team_grid {
    float: none;
    width: 100%;
  }
  .agile_team_grid:nth-child(2) {
    margin: 2em 0 0 0;
  }
  .w3-agile-view .w3lmask {
    padding: 6em 1em 1em 1em;
  }
  .w3-agile-view .w3lmask {
    height: 338px;
  }
}
@media (max-width: 384px) {
  .header-top-left {
    width: 40%;
  }
  .services-grid-caption {
    height: 386px;
  }
  .agile-b-wrapper h5 {
    margin: 3em auto 0;
  }
}
@media (max-width: 375px) {
  .title-logo h1 a {
    font-size: 0.6em;
  }
  .slider-info h3 {
    font-size: 2em;
  }
  .banner-info {
    padding: 2em 0 1em 0;
  }
  .header-top {
    margin: 3em 0 0 0;
  }
  .slider-info {
    margin: 1em 0 0 0;
  }
  .services-grid-caption {
    height: 375px;
  }
  .modal-header h4 {
    font-size: 1.5em;
  }
}
@media (max-width: 320px) {
  .header-top-left {
    width: 46%;
  }
  .title-logo h1 a {
    font-size: 0.5em;
  }
  .slider-info {
    margin: 0em 0 0 0;
  }
  .banner-info {
    padding: 1em 0 1em 0;
  }
  .header-top-info {
    padding: 0.5em 0 0 0;
  }
  .callbacks_tabs {
    right: 30%;
    top: 97%;
  }
  .header-top {
    margin: 2em 0 0 0;
  }
  .banner-info {
    padding: 1em 0 0.5em 0;
  }
  .w3-welcome-heading h2,
  .w3-welcome-heading h3 {
    font-size: 1.5em;
  }
  .more-button a {
    font-size: 0.9em;
    padding: 0.5em 1em;
  }
  .w3-about-left h5 {
    letter-spacing: 0px;
  }
  .services-grid-caption {
    height: 318px;
    padding: 8em 1em 1em 1em;
  }
  .agile-b-wrapper h5 {
    margin: 2em auto 0;
  }
  .w3-agile-view .w3lmask {
    padding: 3em 1em 1em 1em;
  }
  .news-left-text {
    height: 120px;
    margin: 0;
  }
  .news-left-text h5 {
    margin: 1em 0 0 0;
  }
  .news-left-img {
    min-height: 150px;
  }
  .newsletter-right input[type="email"] {
    width: 65%;
  }
}
