/* 响应式图片轮播插件 */
#slider2,
#slider3 {
  box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  left: 0;
  right: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  top: 10%;
  text-align: center;
}
/* 轮播图上一张下一张 start */
.callbacks_nav {
  height: 2px;
  width: 45px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  opacity: 0.5;
  z-index: 3;
  margin-top: 0;
  text-decoration: none;
  overflow: hidden;
  text-indent: -9999px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.callbacks_nav:active {
  opacity: 1;
}
.callbacks_nav.next {
  right: 0;
  background-position: right top;
}
/* 轮播图上一张下一张 end */

/* 轮播图插件规定css样式 start */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  width: 100%;
}
/* 轮播图插件规定css样式 end */

/* 轮播图的点 start*/
.callbacks_tabs {
  list-style: none;
  position: absolute;
  top: 103%;
  z-index: 999;
  right: 46%;
  padding: 0;
  margin: 0;
}
.callbacks_tabs li {
  display: inline-block;
  margin: 0 0.2em;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
  }
}
.callbacks_tabs a {
  visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111"; /* \f111   fa-circle*/
  font-size: 0; /*在父元素很有必要设置font-size:0，避免莫名其妙的间距 */
  visibility: visible;
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  background: #fff;
  display: inline-block;
  border-radius: 30px;
  -webkit-border-radius: 30px;
}
.callbacks_here a:after {
  border: 2px solid #f44336;
  background: #fff;
  width: 10px;
  height: 10px;
}
ul.callbacks_tabs.callbacks2_tabs {
  top: 73%;
  left: 46%;
}
ul.callbacks_tabs.callbacks2_tabs li {
  display: inline-block;
  margin: 0 0.5em;
}
ul.callbacks_tabs.callbacks2_tabs a:after {
  background: #f1c99b !important;
}
ul.callbacks_tabs.callbacks2_tabs a:after {
  border: none;
}
